- name: Delegate the DNS domain {{ kind_cluster_name + "." + kind_cluster_domain }}
  ansible.builtin.copy:
    # set the dns server to the cluster control plane ip address.
    content: |
      server=/{{ kind_cluster_name }}.{{ kind_cluster_domain }}/{{ kind_cluster.ip_address }}#30053
    dest: /etc/dnsmasq.d/{{ kind_cluster_name }}.{{ kind_cluster_domain }}.conf
    mode: 0444
  notify: Restart dnsmasq

- name: Flush Ansible handlers
  ansible.builtin.meta: flush_handlers

- name: Start cluster
  become: true
  become_user: '{{ kind_provision_username }}'
  kind_start:
    name: '{{ kind_cluster_name }}'
