# see https://artifacthub.io/packages/helm/headlamp/headlamp
# see https://headlamp.dev/docs/latest/installation/in-cluster/
# see https://headlamp.dev/docs/latest/installation/#create-a-service-account-token
# see https://github.com/kubernetes-sigs/headlamp/tree/main/charts/headlamp
# see https://github.com/kubernetes-sigs/headlamp/tree/main/charts/headlamp/values.yaml
# see https://github.com/kubernetes-sigs/headlamp/tree/main/charts/headlamp/Chart.yaml

- name: Add Headlamp repository
  kubernetes.core.helm_repository:
    name: headlamp
    repo_url: https://kubernetes-sigs.github.io/headlamp

- name: Install Headlamp
  kubernetes.core.helm:
    name: kube-headlamp
    chart_ref: headlamp/headlamp
    chart_version: '{{ kind_headlamp_chart_version }}'
    release_namespace: kube-headlamp
    create_namespace: true
    update_repo_cache: true
    wait: true
    values:
      ingress:
        enabled: true
        hosts:
          - host: headlamp.{{ kind_cluster_name }}.{{ kind_cluster_domain }}
            paths:
              - path: /
                type: Prefix
        tls:
          - secretName: headlamp-tls
            hosts:
              - headlamp.{{ kind_cluster_name }}.{{ kind_cluster_domain }}

- name: Create Headlamp Certificate
  kubernetes.core.k8s:
    namespace: kube-headlamp
    definition:
      # see https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.Certificate
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: headlamp
      spec:
        subject:
          organizations:
            - '{{ kind_cluster_name }}.{{ kind_cluster_domain }}'
          organizationalUnits:
            - Kubernetes
        commonName: Headlamp
        dnsNames:
          - headlamp.{{ kind_cluster_name }}.{{ kind_cluster_domain }}
        duration: 1h # NB this is so low for testing purposes.
        privateKey:
          algorithm: ECDSA # NB Ed25519 is not yet supported by chrome 93 or firefox 91.
          size: 256
        secretName: headlamp-tls
        issuerRef:
          kind: ClusterIssuer
          name: ingress

# create the admin user for use in the headlamp.
- name: Create the admin user ServiceAccount
  kubernetes.core.k8s:
    namespace: kube-headlamp
    definition:
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: admin

# see https://kubernetes.io/docs/concepts/configuration/secret/#service-account-token-secrets
- name: Create the admin user Secret
  kubernetes.core.k8s:
    namespace: kube-headlamp
    definition:
      apiVersion: v1
      kind: Secret
      type: kubernetes.io/service-account-token
      metadata:
        name: admin
        annotations:
          kubernetes.io/service-account.name: admin

- name: Bind the admin user to the cluster-admin role
  kubernetes.core.k8s:
    namespace: kube-headlamp
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: admin
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cluster-admin
      subjects:
        - kind: ServiceAccount
          name: admin
          namespace: kube-headlamp

- name: Wait for Headlamp to be reachable
  ansible.builtin.uri:
    url: "https://headlamp.{{ kind_cluster_name }}.{{ kind_cluster_domain }}"
    validate_certs: false
    status_code: 200
  register: kind_wait
  until: kind_wait.status == 200
  delay: 5
  retries: 40 # 40 * 5 == 200s
