- name: Install k9s
  args:
    executable: /bin/bash
  shell: |
    set -euo pipefail

    # see https://github.com/derailed/k9s/releases
    k9s_version='v{{ k9s_version }}'

    # bail when already installed.
    if [ -x /usr/local/bin/k9s ]; then
      actual_version="$(/usr/local/bin/k9s version -s | perl -ne '/^Version\s+(v.+)/ && print $1')"
      if [ "$actual_version" == "$k9s_version" ]; then
        echo 'ANSIBLE CHANGED NO'
        exit 0
      fi
    fi

    # download and install.
    k9s_url="https://github.com/derailed/k9s/releases/download/$k9s_version/k9s_Linux_x86_64.tar.gz"
    pushd /tmp
    wget -qO- "$k9s_url" | tar xzf - k9s
    install -m 755 k9s /usr/local/bin/
    rm k9s
    popd
  register: result
  changed_when: "'ANSIBLE CHANGED NO' not in result.stdout_lines"
