[Desktop Entry]
Name=Yubico Authenticator
GenericName=Yubico Authenticator
Exec=/opt/yubico-authenticator/authenticator
Icon=/opt/yubico-authenticator/linux_support/com.yubico.yubioath.png
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
