- name: Install spin
  args:
    executable: /bin/bash
  ansible.builtin.shell: "{{ lookup('file', 'install-spin.sh') }}"
  environment:
    SPIN_VERSION: "{{ spin_version }}"
  register: spin_result
  changed_when: "'ANSIBLE CHANGED NO' not in spin_result.stdout_lines"

- name: Install spin plugin
  args:
    executable: /bin/bash
  ansible.builtin.shell: "{{ lookup('file', 'install-spin-plugin.sh') }}"
  environment:
    SPIN_PLUGIN_NAME: "{{ item.name }}"
    SPIN_PLUGIN_GITHUB: "{{ item.github }}"
    SPIN_PLUGIN_VERSION: "{{ item.version }}"
  become: false
  register: spin_result
  changed_when: "'ANSIBLE CHANGED NO' not in spin_result.stdout_lines"
  loop:
    - # https://github.com/fermyon/cloud-plugin
      name: cloud
      github: fermyon/cloud-plugin
      version: "{{ spin_cloud_plugin_version }}"
    - # https://github.com/spinframework/spin-python-sdk
      name: py2wasm
      github: spinframework/spin-python-sdk
      version: "{{ spin_python_plugin_version }}"

- name: Install spin template
  args:
    executable: /bin/bash
  ansible.builtin.shell: "{{ lookup('file', 'install-spin-template.sh') }}"
  environment:
    SPIN_TEMPLATE_NAME: "{{ item.name }}"
    SPIN_TEMPLATE_GITHUB: "{{ item.github }}"
    SPIN_TEMPLATE_VERSION: "{{ item.version }}"
  become: false
  register: spin_result
  changed_when: "'ANSIBLE CHANGED NO' not in spin_result.stdout_lines"
  loop:
    - # https://github.com/spinframework/spin-js-sdk/tree/main/templates/http-js
      # NB this also installs the http-ts template.
      name: http-js
      github: spinframework/spin-js-sdk
      version: "{{ spin_js_sdk_version }}"
    - # https://github.com/spinframework/spin-python-sdk/tree/main/templates/http-py
      name: http-py
      github: spinframework/spin-python-sdk
      version: "{{ spin_python_plugin_version }}"
    - # https://github.com/spinframework/spin/tree/main/templates/http-go
      # NB this also installs a lot more templates.
      name: http-go
      github: spinframework/spin
      version: "{{ spin_version }}"
