- name: Install powercli
  ansible.builtin.shell:
    executable: /usr/bin/pwsh
    cmd: "{{ lookup('file', 'install-powercli.ps1') }}"
  environment:
    POWERCLI_VERSION: "{{ vmware_client_powercli_version }}"
  register: vmware_client_result
  changed_when: "'ANSIBLE CHANGED NO' not in vmware_client_result.stdout_lines"
