# NB ensure the apt source .list files that are installed by some packages are
#    removed. they mess with the ones that we set in our roles. which in turn,
#    will mess with apt-get update that is run by the Update cache task bellow.
# NB this is used because I was not able to configure the
#    APT::Update::Pre-Invoke apt hook.
- name: Divert apt command
  block:
    - name: Copy .local.apt-wrapper
      ansible.builtin.copy:
        src: apt-wrapper
        dest: /usr/bin/.local.apt-wrapper
        mode: 0555
    - name: Divert apt command
      ansible.builtin.include_tasks: apt-divert.yml
      loop:
        - apt-get
        - apt-mark
    - name: Tidy
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -euxo pipefail
          apt-get --version || true
      changed_when: false

- name: Disable automatic upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    purge: true
    state: absent

- name: Update cache
  vars:
    upgrade_apt_update_cache_params:
      cache_valid_time: 10800 # 3h
    upgrade_apt_update_cache_apt_lists_directories:
      - /etc/apt/sources.list.d
      - /var/lib/apt/lists
  block:
    - name: Update cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: "{{ upgrade_apt_update_cache_params.cache_valid_time }}"
      changed_when: false
  rescue:
    - name: Remove apt lists directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ upgrade_apt_update_cache_apt_lists_directories }}"
    - name: Create apt lists directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: 0755
      loop: "{{ upgrade_apt_update_cache_apt_lists_directories }}"
    - name: Add Ubuntu apt lists
      ansible.builtin.copy:
        content: |
          Types: deb
          URIs: http://nl.archive.ubuntu.com/ubuntu
          Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ ansible_distribution_release }}-backports
          Components: main restricted universe multiverse
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg

          Types: deb
          URIs: http://security.ubuntu.com/ubuntu/
          Suites: {{ ansible_distribution_release }}-security
          Components: main restricted universe multiverse
          Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
        dest: /etc/apt/sources.list.d/ubuntu.sources
        mode: 0444
    - name: Update cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: "{{ upgrade_apt_update_cache_params.cache_valid_time }}"
      changed_when: false

- name: Configure ubuntu apt sources
  block:
    - name: Nutter default sources.list
      ansible.builtin.copy:
        content: |
          # see /etc/apt/sources.list.d/ubuntu.sources instead.
        dest: /etc/apt/sources.list
        mode: 0444
      register: upgrade_default_ubuntu_apt_sources
    - name: Configure ubuntu apt sources
      ansible.builtin.template:
        src: ubuntu.sources.j2
        dest: /etc/apt/sources.list.d/ubuntu.sources
        mode: 0444
      register: upgrade_ubuntu_apt_sources
    - name: Update cache
      ansible.builtin.apt:
        update_cache: true
      when: >
        upgrade_default_ubuntu_apt_sources.changed
        or upgrade_ubuntu_apt_sources.changed

- name: Upgrade the system
  ansible.builtin.apt:
    upgrade: dist

- name: Check reboot required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: upgrade_reboot_required

- name: Reboot when required
  ansible.builtin.reboot:
  when: upgrade_reboot_required.stat.exists

- name: Remove unneeded packages
  ansible.builtin.apt:
    autoremove: true
    autoclean: true
