- name: Configure systemd-networkd-wait-online for eth0
  block:
    - name: Enable systemd-networkd-wait-online@eth0
      ansible.builtin.systemd_service:
        name: systemd-networkd-wait-online@eth0
        enabled: true
        state: started
    - name: Disable systemd-networkd-wait-online
      ansible.builtin.systemd_service:
        name: systemd-networkd-wait-online
        enabled: false
        state: stopped

- name: Configure system-networkd
  block:
    - name: Create the systemd-networkd.service.d directory
      ansible.builtin.file:
        name: /etc/systemd/system/systemd-networkd.service.d
        state: directory
        mode: 0755
    - name: Set the system-networkd log level
      ansible.builtin.copy:
        content: |
          [Service]
          Environment=SYSTEMD_LOG_LEVEL={{ dns_system_networkd_log_level }}
        dest: /etc/systemd/system/systemd-networkd.service.d/10-log-level.conf
        mode: 0444
      when: dns_system_networkd_log_level != None
      register: dns_state_set
    - name: Unset the system-networkd log level
      ansible.builtin.file:
        path: /etc/systemd/system/systemd-networkd.service.d/10-log-level.conf
        state: absent
      when: dns_system_networkd_log_level == None
      register: dns_state_unset
    - name: Restart systemd-networkd
      ansible.builtin.systemd:
        name: systemd-networkd
        state: restarted
        daemon_reload: true
      when: dns_state_set.changed or dns_state_unset.changed

- name: Create the dns0 network interface
  block:
    - name: Create the dns0 network interface device
      ansible.builtin.copy:
        content: |
          [NetDev]
          Name=dns0
          Kind=tap
        dest: /etc/systemd/network/10-dns0.netdev
        mode: 0444
    - name: Assign the dns0 network interface device IP address
      ansible.builtin.copy:
        content: |
          [Match]
          Name=dns0

          [Network]
          Address={{ dns_local_dns_server }}/24
          ConfigureWithoutCarrier=true

          [Link]
          RequiredForOnline=routable
        dest: /etc/systemd/network/10-dns0.network
        mode: 0444
      register: dns_assign_address
    - name: Restart systemd-networkd
      when: dns_assign_address.changed
      ansible.builtin.systemd:
        name: systemd-networkd
        state: restarted
    - name: Install dnsmasq.service.d directory
      ansible.builtin.file:
        name: /etc/systemd/system/dnsmasq.service.d
        state: directory
        mode: 0755
    - name: Install dnsmasq daemon service override
      ansible.builtin.copy:
        src: override.conf
        dest: /etc/systemd/system/dnsmasq.service.d/override.conf
        mode: 0444

- name: Install dnsmasq
  ansible.builtin.apt:
    name: dnsmasq

- name: Configure dnsmasq as the host dns resolver
  block:
    - name: Configure dnsmasq
      ansible.builtin.template:
        src: dnsmasq.conf.j2
        dest: /etc/dnsmasq.d/local.conf
        mode: 0444
      register: dns_configure
    - name: Restart dnsmasq
      when: dns_configure.changed
      ansible.builtin.systemd:
        name: dnsmasq
        state: restarted
    - name: Configure resolv.conf
      ansible.builtin.copy:
        content: |
          nameserver {{ dns_local_dns_server }}
        dest: /etc/resolv.conf
        mode: 0444
      register: dns_resolv_conf
    - name: Install resolved.conf.d directory
      ansible.builtin.file:
        name: /etc/systemd/resolved.conf.d
        state: directory
        mode: 0755
    - name: Configure dnsmasq as the systemd-resolved dns resolver
      ansible.builtin.copy:
        content: |
          [Resolve]
          DNS={{ dns_local_dns_server }}
          Domains=~.
        dest: /etc/systemd/resolved.conf.d/dnsmasq.conf
        mode: 0444
      register: dns_resolved_conf
    - name: Enable the systemd-resolved host dns resolver
      ansible.builtin.systemd:
        name: systemd-resolved
        masked: false
        enabled: true
        state: started
    - name: Restart systemd-resolved
      ansible.builtin.systemd:
        name: systemd-resolved
        state: restarted
        daemon_reload: true
      when: dns_resolv_conf.changed or dns_resolved_conf.changed
