# opt-out of telemetry.
# see https://developer.hashicorp.com/terraform/cli/commands#disable_checkpoint
- name: Opt-out of telemetry
  ansible.builtin.copy:
    content: |
      export CHECKPOINT_DISABLE=1
    dest: /etc/profile.d/opt-out-hashicorp-telemetry.sh
    mode: 0444

- name: Ensure apt-get can use https repositories
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - gnupg

- name: Download the hashicorp apt key
  ansible.builtin.get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /etc/apt/keyrings/apt.releases.hashicorp.com.asc
    mode: 0444
    force: true

# see https://www.terraform.io/downloads
- name: Add the hashicorp repository
  ansible.builtin.apt_repository:
    # see https://wiki.debian.org/DebianRepository/Format
    # see Ubuntu Noble Numbat 24.04: https://apt.releases.hashicorp.com/dists/noble/Release
    # see Ubuntu Noble Numbat 24.04: https://apt.releases.hashicorp.com/dists/noble/main/binary-amd64/Packages
    repo: >
      deb
      [arch=amd64 signed-by=/etc/apt/keyrings/apt.releases.hashicorp.com.asc]
      https://apt.releases.hashicorp.com
      {{ ansible_distribution_release }}
      main

# see https://www.terraform.io/downloads
# see https://github.com/hashicorp/terraform/releases
# NB execute apt-cache madison terraform to known the available versions.
- name: Install terraform
  block:
    - name: Install terraform
      ansible.builtin.apt:
        name: terraform={{ terraform_version }}-*
        allow_change_held_packages: true
    - name: Pin terraform
      ansible.builtin.dpkg_selections:
        name: terraform
        selection: hold

- name: Install terraform bash completion
  ansible.builtin.copy:
    # see terraform -install-autocomplete
    content: |
      complete -C /usr/bin/terraform terraform
    dest: /usr/share/bash-completion/completions/terraform
    mode: 0444
