- name: Ensure apt-get can use https repositories
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - gnupg

- name: Add the hashicorp apt key
  ansible.builtin.apt_key:
    url: https://apt.releases.hashicorp.com/gpg
    keyring: /etc/apt/keyrings/apt.releases.hashicorp.com.gpg

# see https://www.terraform.io/downloads
- name: Add the hashicorp repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/apt.releases.hashicorp.com.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main

# see https://www.terraform.io/downloads
# see https://github.com/hashicorp/terraform/releases
# NB execute apt-cache madison terraform to known the available versions.
- name: Install terraform
  block:
    - name: Install terraform
      ansible.builtin.apt:
        name: terraform={{ terraform_version }}-*
        allow_change_held_packages: true
    - name: Pin terraform
      ansible.builtin.dpkg_selections:
        name: terraform
        selection: hold

# see https://github.com/nbering/terraform-inventory
- name: Install terraform inventory
  block:
    - name: Create the /etc/ansible directory
      ansible.builtin.file:
        name: /etc/ansible
        state: directory
        mode: 0755
    - name: Check terraform inventory version
      ansible.builtin.lineinfile:
        path: /etc/ansible/terraform.py
        line: '# version={{ terraform_inventory_version }}'
        create: true
        mode: 0555
      diff: false
      check_mode: true
      register: check
    - name: Install terraform inventory
      when: check.changed
      block:
        - name: Install terraform inventory
          ansible.builtin.get_url:
            url: "https://github.com/nbering/terraform-inventory/releases/download/v{{ terraform_inventory_version }}/terraform.py"
            dest: /etc/ansible/terraform.py
            mode: 0755
            force: true
        - name: Patch terraform inventory
          ansible.posix.patch:
            src: terraform-inventory.patch
            basedir: /etc/ansible
        - name: Add terraform inventory version
          ansible.builtin.lineinfile:
            path: /etc/ansible/terraform.py
            insertafter: '^#!'
            line: '# version={{ terraform_inventory_version }}'
            mode: 0555
