- name: Reboot
  ansible.builtin.reboot:

- name: Restart gnome-remote-desktop
  ansible.builtin.systemd_service:
    name: gnome-remote-desktop
    state: restarted

- name: Restart netbird
  async: "{{ '15m' | community.general.to_seconds | int }}"
  poll: "{{ '5s' | community.general.to_seconds | int }}"
  ansible.builtin.systemd:
    name: netbird
    state: restarted

- name: Restart dnsmasq
  ansible.builtin.systemd:
    name: dnsmasq
    state: restarted
