# see https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management
- name: Download the kubernetes apt repository key
  ansible.builtin.get_url:
    # e.g. https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key
    url: https://pkgs.k8s.io/core:/stable:/v{{ (k8s_client_kubectl_version | split('.'))[:2] | join('.') }}/deb/Release.key
    dest: /etc/apt/keyrings/pkgs.k8s.io.asc
    mode: 0444
    force: true

# see https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management
- name: Add the kubernetes repository
  ansible.builtin.apt_repository:
    # see https://wiki.debian.org/DebianRepository/Format
    # see https://pkgs.k8s.io/core:/stable:/v1.35/deb/InRelease
    # see https://pkgs.k8s.io/core:/stable:/v1.35/deb/Packages
    # e.g. https://pkgs.k8s.io/core:/stable:/v1.35/deb/
    repo: >
      deb
      [signed-by=/etc/apt/keyrings/pkgs.k8s.io.asc]
      https://pkgs.k8s.io/core:/stable:/v{{ (k8s_client_kubectl_version | split('.'))[:2] | join('.') }}/deb/
      /

# NB execute apt-cache madison kubectl to known the available versions.
- name: Install kubectl
  block:
    - name: Install kubectl
      ansible.builtin.apt:
        name: kubectl={{ k8s_client_kubectl_version }}-*
        allow_change_held_packages: true
    - name: Pin kubectl
      ansible.builtin.dpkg_selections:
        name: kubectl
        selection: hold

- name: Install kubectl bash completion
  block:
    - name: Get kubectl bash completion
      ansible.builtin.command: kubectl completion bash
      register: k8s_client_bash_completion
      changed_when: false
    - name: Install kubectl bash completion
      ansible.builtin.copy:
        content: "{{ k8s_client_bash_completion.stdout }}"
        dest: /usr/share/bash-completion/completions/kubectl
        mode: 0444
