- name: Ensure apt-get can use https repositories
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - gnupg
    state: present

- name: Download the microsoft apt key
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/apt/keyrings/packages.microsoft.com.asc
    mode: 0444
    force: true

# see https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest
- name: Add the azure-cli repository
  ansible.builtin.apt_repository:
    # see https://wiki.debian.org/DebianRepository/Format
    # see Ubuntu Noble Numbat 24.04: https://packages.microsoft.com/repos/azure-cli/dists/noble/Release
    # see Ubuntu Noble Numbat 24.04: https://packages.microsoft.com/repos/azure-cli/dists/noble/main/binary-amd64/Packages
    repo: >
      deb
      [arch=amd64 signed-by=/etc/apt/keyrings/packages.microsoft.com.asc]
      https://packages.microsoft.com/repos/azure-cli/
      {{ ansible_distribution_release }}
      main
    state: present

# see https://github.com/Azure/azure-cli/releases
# NB execute apt-cache madison azure-cli to known the available versions.
- name: Install azure-cli
  block:
    - name: Install azure-cli
      ansible.builtin.apt:
        name: azure-cli={{ azure_client_azure_cli_version }}-*
        allow_change_held_packages: true
        state: present
    - name: Pin azure-cli
      ansible.builtin.dpkg_selections:
        name: azure-cli
        selection: hold
